.card-title{
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin-top: 100px;
    text-align: center;

}

.card-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* card1.css */
.card-body .d-flex {
    justify-content: space-around; /* Distribuir los elementos equitativamente */
    align-items: center;
  }
  
  .card-body .d-flex a {
    color: #016E86; /* Cambiar color según tus preferencias */
    transition: color 0.3s ease-in-out; /* Agregar transición de color para el efecto hover */
    margin-bottom: 100px;
    margin-top: 20px;
  }
  
  .card-body .d-flex a:hover {
    color: #77dbf1; /* Cambiar color al hacer hover */
  }

  .card{
    margin-top: 30px;
  }
.card-text2{
  margin-top: 60px;
  margin-bottom: -15px;
  font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}