.card-title{
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin-top: 100px;
    text-align: center;

}

.card-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}
